html {
  font-size: 100%;
}
body {
  background: $base-color;
  color: $body-fontcolor;
  font-size: 1.125rem;
}

// headline style
h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
  font-family: $ff-mplus, sans-serif;
}
h2 {
  margin-bottom: 4rem;
  position: relative;
  padding-bottom: 64px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 33px;
    margin: 1rem auto;
  }
  &.u-on-basecolor {
    &::before {
      background: url(../images/icon_takoyaki_subcolor.svg);
    }
  }
  &.u-on-maincolor {
    &::before {
      background: url(../images/icon_takoyaki_white.svg);
    }
  }
}
/* ↑の別ver. svgが表示されてないので保留中
h2 {
  margin-bottom: 4rem;
  position: relative;
  padding-bottom: 64px;
  margin: 1rem auto;
  
  &.u-on-basecolor {
    background: url(../images/icon_takoyaki_subcolor.svg) center bottom no-repeat;
    background-size: 70px 33px;
  }
  &.u-on-maincolor {
    background: url(../images/icon_takoyaki_white.svg) center bottom no-repeat;
    background-size: 70px 33px;
  }
}
*/
.f-bg--maincolor {
  position: relative;
  padding-top: 176px;
  padding-bottom: 160px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: $main-color;
  }
}
.f-bg--maincolor-lignt {
  position: relative;
  padding-top: 176px;
  padding-bottom: 160px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: $main-color-light;
  }
}

// entry
.entry {
  .entry-header {
    text-align: center;
  }
  .entry-title {
    &::before {
      display: none;
    }
  }
}
.entry-content{
  .l-container {
    max-width: 1260px;
    margin: 0 auto;
  }
}
// sns
.p-sns {
  li {
    display: inline-block;
    text-align: center;

    a {
      display: block;
    }
  }
}