html {
  font-size: 100%;
}
body {
  background: $base-color;
  color: $body-fontcolor;
  font-size: 1rem;

  @include tab {
    font-size: 1.125rem;
  }
}

// headline style
h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
  font-family: $ff-mplus, sans-serif;
}
h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 32px;

  @include tab {
    margin-bottom: 3rem;
    padding-bottom: 64px;
  }

  @include pc {
    margin-bottom: 4rem;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 16px;

    @include tab {
      width: 68px;
      height: 32px;  
    }
  }
  &.u-on-basecolor {
    &::before {
      background: url(https://raw.githubusercontent.com/wordcamposaka2019/website-theme/feature/front-page/images/icon_takoyaki_subcolor.png) bottom no-repeat;
      background-size: 34px auto;

      @include tab {
        background-size: auto;
      }

    }
  }
  &.u-on-maincolor {
    &::before {
      background: url(https://raw.githubusercontent.com/wordcamposaka2019/website-theme/feature/front-page/images/icon_takoyaki_white.png) bottom no-repeat;
      background-size: 34px auto;

      @include tab {
        background-size: auto;
      }
    }
  }
}

// entry
.entry {
  .entry-header {
    text-align: center;

    @include tab {
      margin-top: 96px;
    }

    @include pc {
      margin-top: 142px;
    }
  }
  .entry-title {
    margin-bottom: 1em;

    &::before {
      display: none;
    }
  }
  .entry-content > *,
  .entry-summary > * {
    margin: inherit;
  }
}
.entry-content{

  .l-container {
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;

    @include pc {
      max-width: 1260px + 48px;
    }
  }
}

// utility
.u-arch {
  @include arch-min;

  @include pc {
    @include arch-wide
  }
}
.u-bg {
  position: relative;
  padding-bottom: 64px;

  @include pc {
    padding-bottom: 100px;
  }
}
.u-bg--basecolor {
    background: $base-color;
}
.u-bg--maincolor {
    background: $main-color;
}
.u-bg--maincolor-lignt {
    background: $main-color-light;
}
.u-arch--btm-maincolor {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: $main-color;
    z-index: -1;
  }
}
.u-pad--secT-lg {
  padding-top: 48px;

  @include tab {
    padding-top: 64px;
  }

  @include pc {
    padding-top: 96px;
  }
}
.u-pad--secT-md {
  padding-top: 32px;

  @include tab {
    padding-top: 56px;
  }

  @include pc {
    padding-top: 72px;
  }
}
.u-pad--secB-lg {
  padding-bottom: 48px;

  @include tab {
    padding-bottom: 64px;
  }

  @include pc {
    padding-bottom: 96px;
  }
}
.u-pad--secB-md {
  padding-bottom: 32px;

  @include tab {
    padding-bottom: 56px;
  }

  @include pc {
    padding-bottom: 72px;
  }
}
.u-margR--md {
  margin-right: 24px;
}
.u-margL--md {
  margin-left: 24px;
}
.u-align-c {
  text-align: center;

  &.is-tab {
    text-align: inherit;

    @include tab {
      text-align: center;
    }
  }

  &.is-pc {
    text-align: inherit;

    @include pc {
      text-align: center;
    }
  }
}