@charset "utf-8";
.site-branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 36px;

  @include tab {
    padding-top: 16px;
  }

  @include pc {
    padding-top: 32px;
  }
}

#masthead {
  height: 240px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;

  @include tab {
    height: 320px;
  }
  @include pc {
    height: 420px;
  }

  .site-title {
    display: block;
    flex-direction: column;

    > a {
      display: block;
      width: 140px;
      height: 65px;
      text-indent: -9999px;

      @include tab {
        width: 280px;
        height: 130px;
      }

      &::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(https://wordcamposaka2019.github.io/website-theme/images/logo-lower.svg) center no-repeat;
        background-size: contain;
      }
    }
  }

  .site-description {
    display: none;
  }
}

.home #masthead {
  height: 400px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;
  @include arch-min;

  @include tab {
    height: 720px;
  }
  @include pc {
    height: 100vh;
    max-height: 1021px;
    @include arch-wide;
  }

  .site-title {
    width: 70vw;
    max-width: 300px;
    height: calc(70vw * .7317);

    @include tab {
      width: 550px;
      max-width: inherit;
      height: 432px;
    }

    @include pc {
      width: 700px;
      /* height: 540px; */
    }

    > a {

      &::after {
        background: url(https://wordcamposaka2019.github.io/website-theme/images/logo.svg) center no-repeat;
        background-size: contain;
      }
    }
  }
}

.site-header.featured-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;

  &::after {
    background: none;
  }

  .site-branding-container {
    display: block;
    width: 0;
    height: 0;
    margin: 0;

    > a {
      &::after {
        display: none;
      }
    }
  }

  .site-featured-image {

    &::after {
      background: $main-color;
      transition: opacity 1200ms ease-in-out;
      opacity: 0.7;
      z-index: 5;
    }

    .post-thumbnail img {
      filter: grayscale(100%);
      height: 240px;
      min-height: 240px;

      @include tab {
        height: 320px;
        min-height: 320px;
      }
      @include pc {
        height: 420px;
        min-height: 420px;
      }
    }

    .entry-header {
      margin-top: 0;

      @include tab {
        margin: auto 1.5rem;
      }
    }

  }
}
