@charset "utf-8";
#masthead {
  height: 240px;
  background: url(https://raw.githubusercontent.com/wordcamposaka2019/website-theme/feature/front-page/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;

  @include tab {
    height: 320px;
  }
  @include pc {
    height: 420;
  }

  .site-title {
    display: block;
    flex-direction: column;

    > a {
      display: block;
      text-indent: -9999px;

      &::after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .site-branding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .site-description {
    display: none;
  }
}
.home #masthead {
  height: 520px;
  background: url(https://raw.githubusercontent.com/wordcamposaka2019/website-theme/feature/front-page/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;
  @include arch-min;

  @include tab {
    height: 720px;
  }
  @include pc {
    height: 100vh;
    max-height: 1021px;
    @include arch-wide;
  }
  .site-title {
    width: 80vw;
    max-width: 369px;
    height: calc(80vw * .7317);

    @include tab {
      width: 590px;
      max-width: inherit;
      height: 432px;
    }

    @include pc {
      width: 738px;
      height: 540px;
    }

    > a {

      &::after {
        background: url(https://raw.githubusercontent.com/wordcamposaka2019/website-theme/feature/front-page/images/logo.png) center no-repeat;
        background-size: contain;
      }
    }
  }
}