@charset "utf-8";
#site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: rgba($white,.6);
  z-index: 10;
  font-family: $ff-mplus, sans-serif;

  @include tab {
    height: 64px;
  }

  @include pc {
    height: 80px;
  }
}
.main-navigation {
  margin-top: 0;
  padding-top: 12px;
  font-size: 0.9375rem;
  text-align: center;

  @include tab {
    padding-top: 20px;
    font-size: 1rem;
  }

  @include pc {
    padding-top: 24px;
    font-size: 1em;
  }

  .menu-headermenu-container {
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
  }
  .main-menu {
    > li {
      margin: 0 0.5rem;
      color: $body-fontcolor;

      > a,
      > a + svg {
        font-weight: 400;
        color: $body-fontcolor;
      }

      > a:hover,
      > a:hover + svg {
        color: $sub-color;
      }

      @include tab {
        margin: 0 1rem;        
      }
    }
  }
  button:hover,
  button:focus {
    color: $sub-color;
  }
  .sub-menu {
    background-color: $sub-color;

    > li {
    
      > a,
      > .menu-item-link-return {
        padding: .5rem 1rem;
      }

      > a:hover,
      > a:focus,
      > .menu-item-link-return:hover,
      > .menu-item-link-return:focus {
        background-color: $sub-color-deep;
      }
    }
  }
}
.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu.hidden-links {
  top: 48px;

  @include tab {
    top: 64px;
  }

  @include pc {
    top: 80px;
  }
}