@charset "utf-8";
#site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: rgba($white,.6);
  z-index: 10;
  font-family: $ff-mplus, sans-serif;
  font-size: 1.125rem;
}
.main-navigation {
  margin-top: 0;
  .menu-headermenu-container {
    display: block;
    max-width: 1260px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
  }
  .main-menu {
    > li {
      margin: 0 1rem;
    }
  }
}
