$base-color: #fff8e6;
$base-color-deep: #ffebcc;
$main-color: #facd89;
$main-color-light: #ffe0b1;

$sub-color: #d8836e;
$sub-color-deep: #ba6a56;
$body-fontcolor: #444;
$gray: #777673;
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$ff-mplus: 'M PLUS 1p';
$ff-base: 'Noto Sans JP';

//Misxin
$widepc: 1379px;
$pc: 1168px; // PC
$tab: 768px; // タブレット
$sp: 600px;  // スマホ

@mixin widepc {
  @media (min-width: ($widepc)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}

@mixin arch-wide {
  border-bottom-right-radius: 1160px 300px;
  border-bottom-left-radius: 1160px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@mixin arch-min {
  border-bottom-right-radius: 760px 300px;
  border-bottom-left-radius: 760px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@mixin arrow-right--white {
  width: .5em;
  height: .5em;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid $white;
  border-right: 2px solid $white;
  border-radius: 1px;
}

@mixin arrow-right--sub {
  width: .5em;
  height: .5em;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid $sub-color;
  border-right: 2px solid $sub-color;
  border-radius: 1px;
}