$base-color: #fff8e6;
$main-color: #facd89;
$main-color-light: #ffe0b1;
$sub-color: #d8836e;
$body-fontcolor: #444;
$gray: #777673;
$black: #000;
$white: #fff;
$ff-mplus: 'M PLUS 1p';
$ff-base: 'Noto Sans JP';
