html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  background: #fff8e6;
  color: #444;
  font-size: 1rem;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}

body:lang(ja), button:lang(ja), input:lang(ja), select:lang(ja), optgroup:lang(ja), textarea:lang(ja), .author-description .author-link:lang(ja), .comment-metadata:lang(ja), .comment-reply-link:lang(ja), .comments-title:lang(ja), .comment-author .fn:lang(ja), .discussion-meta-info:lang(ja), .entry-meta:lang(ja), .entry-footer:lang(ja), .main-navigation:lang(ja), .no-comments:lang(ja), .not-found .page-title:lang(ja), .error-404 .page-title:lang(ja), .post-navigation .post-title:lang(ja), .page-links:lang(ja), .page-description:lang(ja), .pagination .nav-links:lang(ja), .sticky-post:lang(ja), .site-title:lang(ja), .site-info:lang(ja), #cancel-comment-reply-link:lang(ja), h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja), .page-title:lang(ja), blockquote cite:lang(ja), table:lang(ja), .button:lang(ja), input:lang(ja)[type="button"], input:lang(ja)[type="reset"], input:lang(ja)[type="submit"], .comment-navigation .nav-previous:lang(ja), .comment-navigation .nav-next:lang(ja), .comment-list .pingback .comment-body:lang(ja), .comment-list .trackback .comment-body:lang(ja), .comment-list .pingback .comment-body .comment-edit-link:lang(ja), .comment-list .trackback .comment-body .comment-edit-link:lang(ja), .comment-form .comment-notes:lang(ja), .comment-form label:lang(ja), .widget_archive ul li:lang(ja), .widget_categories ul li:lang(ja), .widget_meta ul li:lang(ja), .widget_nav_menu ul li:lang(ja), .widget_pages ul li:lang(ja), .widget_recent_comments ul li:lang(ja), .widget_recent_entries ul li:lang(ja), .widget_rss ul li:lang(ja), .widget_tag_cloud .tagcloud:lang(ja), .entry .entry-content .wp-block-button .wp-block-button__link:lang(ja), .entry .entry-content .wp-block-archives li:lang(ja), .entry .entry-content .wp-block-categories li:lang(ja), .entry .entry-content .wp-block-latest-posts li:lang(ja), .entry .entry-content .wp-block-verse:lang(ja), .entry .entry-content .has-drop-cap:lang(ja):not(:focus):first-letter, .entry .entry-content .wp-block-pullquote cite:lang(ja), .entry .entry-content .wp-block-cover-image .wp-block-cover-image-text:lang(ja), .entry .entry-content .wp-block-cover-image .wp-block-cover-text:lang(ja), .entry .entry-content .wp-block-cover-image h2:lang(ja), .entry .entry-content .wp-block-cover .wp-block-cover-image-text:lang(ja), .entry .entry-content .wp-block-cover .wp-block-cover-text:lang(ja), .entry .entry-content .wp-block-cover h2:lang(ja), .entry .entry-content .wp-block-audio figcaption:lang(ja), .entry .entry-content .wp-block-video figcaption:lang(ja), .entry .entry-content .wp-block-image figcaption:lang(ja), .entry .entry-content .wp-block-gallery .blocks-gallery-image figcaption:lang(ja), .entry .entry-content .wp-block-gallery .blocks-gallery-item figcaption:lang(ja), .entry .entry-content .wp-block-file:lang(ja), .entry .entry-content .wp-block-file .wp-block-file__button:lang(ja), .entry .entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-meta:lang(ja), .wp-caption-text:lang(ja), .gallery-caption:lang(ja) {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: #d8836e;
}

a:visited {
  color: #d8836e;
}

a:hover,
a:active {
  color: #ba6a56;
}

a:focus {
  outline: thin dotted;
  text-decoration: underline;
}

.site-main {
  position: relative;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .site-main {
    padding-bottom: 64px;
  }
}

@media (min-width: 1168px) {
  .site-main {
    padding-bottom: 96px;
  }
}

.site-main::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: calc(100% + 400px);
  height: 400px;
  background-color: #fff8e6;
  z-index: -1;
  border-bottom-right-radius: 760px 300px;
  border-bottom-left-radius: 760px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (min-width: 1168px) {
  .site-main::before {
    border-bottom-right-radius: 1160px 300px;
    border-bottom-left-radius: 1160px 300px;
    margin-left: -200px;
    margin-right: -200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.site-main::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #ffe0b1;
  z-index: -2;
}

h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
  font-family: "M PLUS 1p", sans-serif;
}

h1:not(.site-title):before {
  display: none;
}

.entry-title,
.not-found .page-title,
.error-404 .page-title,
.has-larger-font-size {
  font-size: 1.6875em;
}

@media (min-width: 768px) {
  .entry-title,
  .not-found .page-title,
  .error-404 .page-title,
  .has-larger-font-size {
    font-size: 2.78em;
  }
}

h2 {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

.has-regular-font-size,
.has-large-font-size,
.comments-title,
h3 {
  font-size: 1.22em;
}

@media (min-width: 768px) {
  .has-regular-font-size,
  .has-large-font-size,
  .comments-title,
  h3 {
    font-size: 1.22em;
  }
}

.archive .page-heade,
.search .page-header,
.error404 .page-header {
  text-align: center;
}

.archive .page-heade .page-title,
.search .page-header .page-title,
.error404 .page-header .page-title {
  position: relative;
  padding-bottom: 32px;
  margin: 2rem auto;
  letter-spacing: .2em;
  text-align: center;
  font-size: 1.6875em;
}

@media (min-width: 768px) {
  .archive .page-heade .page-title,
  .search .page-header .page-title,
  .error404 .page-header .page-title {
    margin-bottom: 3rem;
    padding-bottom: 64px;
    font-size: 2.78em;
  }
}

@media (min-width: 1168px) {
  .archive .page-heade .page-title,
  .search .page-header .page-title,
  .error404 .page-header .page-title {
    margin-bottom: 4rem;
  }
}

.archive .page-heade .page-title::before,
.search .page-header .page-title::before,
.error404 .page-header .page-title::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 16px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/icon_takoyaki_subcolor.svg) bottom no-repeat;
  background-size: 34px auto;
}

@media (min-width: 768px) {
  .archive .page-heade .page-title::before,
  .search .page-header .page-title::before,
  .error404 .page-header .page-title::before {
    width: 68px;
    height: 32px;
    background-size: auto;
  }
}

.entry .entry-content .entry-title,
.entry .entry-content .not-found .page-title,
.entry .entry-content .error-404 .page-title,
.entry .entry-content h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 32px;
  letter-spacing: .2em;
  text-align: center;
}

@media (min-width: 768px) {
  .entry .entry-content .entry-title,
  .entry .entry-content .not-found .page-title,
  .entry .entry-content .error-404 .page-title,
  .entry .entry-content h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 64px;
  }
}

@media (min-width: 1168px) {
  .entry .entry-content .entry-title,
  .entry .entry-content .not-found .page-title,
  .entry .entry-content .error-404 .page-title,
  .entry .entry-content h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.entry .entry-content .entry-title::before,
.entry .entry-content .not-found .page-title::before,
.entry .entry-content .error-404 .page-title::before,
.entry .entry-content h2::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 16px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/icon_takoyaki_subcolor.svg) bottom no-repeat;
  background-size: 34px auto;
}

@media (min-width: 768px) {
  .entry .entry-content .entry-title::before,
  .entry .entry-content .not-found .page-title::before,
  .entry .entry-content .error-404 .page-title::before,
  .entry .entry-content h2::before {
    width: 68px;
    height: 32px;
    background-size: auto;
  }
}

.entry .entry-content .entry-title.u-on-basecolor::before,
.entry .entry-content .not-found .page-title.u-on-basecolor::before,
.entry .entry-content .error-404 .page-title.u-on-basecolor::before,
.entry .entry-content h2.u-on-basecolor::before {
  background: url(https://wordcamposaka2019.github.io/website-theme/images/icon_takoyaki_subcolor.svg) bottom no-repeat;
  background-size: 34px auto;
}

@media (min-width: 768px) {
  .entry .entry-content .entry-title.u-on-basecolor::before,
  .entry .entry-content .not-found .page-title.u-on-basecolor::before,
  .entry .entry-content .error-404 .page-title.u-on-basecolor::before,
  .entry .entry-content h2.u-on-basecolor::before {
    background-size: auto;
  }
}

.entry .entry-content .entry-title.u-on-maincolor::before,
.entry .entry-content .not-found .page-title.u-on-maincolor::before,
.entry .entry-content .error-404 .page-title.u-on-maincolor::before,
.entry .entry-content h2.u-on-maincolor::before {
  background: url(https://wordcamposaka2019.github.io/website-theme/images/icon_takoyaki_white.svg) bottom no-repeat;
  background-size: 34px auto;
}

@media (min-width: 768px) {
  .entry .entry-content .entry-title.u-on-maincolor::before,
  .entry .entry-content .not-found .page-title.u-on-maincolor::before,
  .entry .entry-content .error-404 .page-title.u-on-maincolor::before,
  .entry .entry-content h2.u-on-maincolor::before {
    background-size: auto;
  }
}

.entry .entry-content h3 {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  padding-left: 24px;
}

.entry .entry-content h3::before, .entry .entry-content h3::after {
  position: absolute;
  display: block;
  content: "";
  width: 4px;
  background-color: #d8836e;
  border-radius: 2px;
}

.entry .entry-content h3::before {
  height: 18px;
  top: 4px;
  left: 0;
}

.entry .entry-content h3::after {
  height: 10px;
  top: 12px;
  left: 8px;
}

.entry .entry-content h4 {
  color: #d8836e;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.25rem;
}

.error-404.not-found .page-content,
.no-results.not-found .page-content {
  max-width: calc(100% - 3rem);
  margin: 0 auto;
}

@media (min-width: 1168px) {
  .error-404.not-found .page-content,
  .no-results.not-found .page-content {
    max-width: calc(8 * (100vw / 12) - 28px);
  }
}

.entry .entry-meta a:hover,
.entry .entry-footer a:hover {
  color: #ba6a56;
}

.entry .entry-header {
  margin: calc(3 * 1rem) auto 1rem;
  padding: 0 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .entry .entry-header {
    margin: 96px auto 1rem;
  }
}

@media (min-width: 1168px) {
  .entry .entry-header {
    margin-top: 130px;
    max-width: 1260px;
  }
}

.entry .entry-title {
  margin-bottom: 1em;
}

.entry .entry-title::before {
  display: none;
}

@media only screen and (min-width: 768px) {
  .entry .entry-content,
  .entry .entry-summary {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .entry .entry-content,
  .entry .entry-summary {
    max-width: calc(100% - 3rem);
  }
}

@media only screen and (min-width: 768px) and (min-width: 1168px) {
  .entry .entry-content,
  .entry .entry-summary {
    max-width: calc(90% - 10rem);
    padding: 0 60px;
  }
}

.entry .entry-footer {
  margin: 2rem auto;
  max-width: calc(100% - 3rem);
}

@media (min-width: 1168px) {
  .entry .entry-footer {
    max-width: 1020px;
  }
}

.entry .entry-content > *,
.entry .entry-summary > * {
  margin: inherit;
  max-width: 100%;
}

@media (min-width: 1168px) {
  .entry .entry-content > *,
  .entry .entry-summary > * {
    max-width: 1020px;
  }
}

.entry .entry-content p {
  margin: 1.25rem auto;
}

.entry .entry-content ul {
  list-style: none;
  margin-bottom: 1.25rem;
  padding: 0;
}

.entry .entry-content ul li {
  position: relative;
  padding-left: 24px;
}

.entry .entry-content ul li::before {
  position: absolute;
  top: .3em;
  left: 2px;
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  border: 3px solid #d8836e;
  border-radius: 50%;
}

.entry .entry-content ol {
  list-style: none;
  margin-bottom: 1.25rem;
  padding: 0;
}

.entry .entry-content ol li {
  position: relative;
  padding-left: 24px;
  counter-increment: number;
}

.entry .entry-content ol li::before {
  position: absolute;
  top: 0;
  left: 2px;
  display: block;
  content: counter(number) "";
  color: #d8836e;
  font-weight: bold;
}

.entry .entry-content .wp-block-quote:not(.is-large),
.entry .entry-content .wp-block-quote:not(.is-style-large) {
  padding: 1.5rem 1.5rem 1.5rem 48px;
  border-width: 0;
  background: #ffebcc url(https://wordcamposaka2019.github.io/website-theme/images/icon_quote.png) 9px 1.5rem no-repeat;
  background-size: 30px auto;
  margin: 1rem auto;
}

@media (min-width: 1168px) {
  .entry .entry-content .wp-block-quote:not(.is-large),
  .entry .entry-content .wp-block-quote:not(.is-style-large) {
    padding: 40px 72px 40px 160px;
    background: #ffebcc url(https://wordcamposaka2019.github.io/website-theme/images/icon_quote.png) 54px center no-repeat;
    background-size: 60px auto;
  }
}

.entry .entry-content .wp-block-table {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin: auto;
}

.entry .entry-content .wp-block-table th, .entry .entry-content .wp-block-table td {
  border: 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 1rem;
}

.entry .entry-content .wp-block-table th {
  background-color: #ffe0b1;
}

.entry .entry-content .wp-block-button {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.entry .entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border-radius: 16px 0 16px 0;
}

.entry .entry-content .wp-block-button .wp-block-button__link {
  position: relative;
  padding: 1.5rem 3rem;
  border: 2px solid #d8836e;
  font-size: 1em;
}

.entry .entry-content .wp-block-button .wp-block-button__link::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2rem;
  width: .5em;
  height: .5em;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-radius: 1px;
}

.entry .entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
  background-color: #d8836e;
}

.entry .entry-content .wp-block-button .wp-block-button__link:hover {
  color: #d8836e;
  background: white;
  cursor: pointer;
}

.entry .entry-content .wp-block-button .wp-block-button__link:hover::after {
  width: .5em;
  height: .5em;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #d8836e;
  border-right: 2px solid #d8836e;
  border-radius: 1px;
}

.hfeed .entry .entry-header {
  margin: calc(3 * 1rem) auto 1rem;
  padding: 0 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hfeed .entry .entry-header {
    margin: 96px auto 1rem;
  }
}

@media (min-width: 1168px) {
  .hfeed .entry .entry-header {
    margin-top: 130px;
  }
}

.entry-content .l-container {
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

@media (min-width: 1168px) {
  .entry-content .l-container {
    max-width: 1308px;
  }
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #d8836e;
  border: 2px solid #d8836e;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: white;
  color: #d8836e;
}

.comments-area .comments-title-wrap .comments-title {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  padding-left: 24px;
}

.comments-area .comments-title-wrap .comments-title::before, .comments-area .comments-title-wrap .comments-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 4px;
  background-color: #d8836e;
  border-radius: 2px;
  margin: auto;
}

.comments-area .comments-title-wrap .comments-title::before {
  height: 18px;
  top: 4px;
  left: 0;
}

.comments-area .comments-title-wrap .comments-title::after {
  height: 10px;
  top: 12px;
  left: 8px;
}

.widget a {
  color: #d8836e;
}

.widget a:visited {
  color: #d8836e;
}

.widget a:hover, .widget a:active {
  color: #ba6a56;
}

.widget a:focus {
  outline: thin dotted;
  text-decoration: underline;
}

@media (min-width: 1168px) {
  #colophon .widget-column .widget {
    margin-right: 0;
    width: 100%;
  }
}

.c-dl dd {
  margin-left: 0;
}

.u-arch {
  border-bottom-right-radius: 760px 300px;
  border-bottom-left-radius: 760px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (min-width: 1168px) {
  .u-arch {
    border-bottom-right-radius: 1160px 300px;
    border-bottom-left-radius: 1160px 300px;
    margin-left: -200px;
    margin-right: -200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.u-bg {
  position: relative;
  padding-bottom: 64px;
}

@media (min-width: 1168px) {
  .u-bg {
    padding-bottom: 100px;
  }
}

.u-bg--basecolor {
  background: #fff8e6;
}

.u-bg--maincolor {
  background: #facd89;
}

.u-bg--maincolor-lignt {
  background: #ffe0b1;
}

.u-arch--btm-maincolor {
  position: relative;
}

.u-arch--btm-maincolor::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #facd89;
  z-index: -1;
}

.u-pad--secT-lg {
  padding-top: 48px;
}

@media (min-width: 768px) {
  .u-pad--secT-lg {
    padding-top: 64px;
  }
}

@media (min-width: 1168px) {
  .u-pad--secT-lg {
    padding-top: 96px;
  }
}

.u-pad--secT-md {
  padding-top: 32px;
}

@media (min-width: 768px) {
  .u-pad--secT-md {
    padding-top: 56px;
  }
}

@media (min-width: 1168px) {
  .u-pad--secT-md {
    padding-top: 72px;
  }
}

.u-pad--secB-lg {
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .u-pad--secB-lg {
    padding-bottom: 64px;
  }
}

@media (min-width: 1168px) {
  .u-pad--secB-lg {
    padding-bottom: 96px;
  }
}

.u-pad--secB-md {
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .u-pad--secB-md {
    padding-bottom: 56px;
  }
}

@media (min-width: 1168px) {
  .u-pad--secB-md {
    padding-bottom: 72px;
  }
}

.u-margR--md {
  margin-right: 24px;
}

.u-margL--md {
  margin-left: 24px;
}

.u-sp-margT--2em {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .u-sp-margT--2em {
    margin-top: inherit;
  }
}

.u-align-c {
  text-align: center;
}

.u-align-c.is-tab {
  text-align: inherit;
}

@media (min-width: 768px) {
  .u-align-c.is-tab {
    text-align: center;
  }
}

.u-align-c.is-pc {
  text-align: inherit;
}

@media (min-width: 1168px) {
  .u-align-c.is-pc {
    text-align: center;
  }
}

.contact-submit {
  text-align: center;
}

.site-branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 36px;
}

@media (min-width: 768px) {
  .site-branding-container {
    padding-top: 16px;
  }
}

@media (min-width: 1168px) {
  .site-branding-container {
    padding-top: 32px;
  }
}

#masthead {
  height: 240px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  #masthead {
    height: 320px;
  }
}

@media (min-width: 1168px) {
  #masthead {
    height: 420px;
  }
}

#masthead .site-title {
  display: block;
  flex-direction: column;
}

#masthead .site-title > a {
  display: block;
  width: 140px;
  height: 65px;
  text-indent: -9999px;
}

@media (min-width: 768px) {
  #masthead .site-title > a {
    width: 280px;
    height: 130px;
  }
}

#masthead .site-title > a::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/logo-lower.svg) center no-repeat;
  background-size: contain;
}

#masthead .site-description {
  display: none;
}

.home #masthead {
  height: 400px;
  background: url(https://wordcamposaka2019.github.io/website-theme/images/img_mainvisual.jpg) center no-repeat;
  background-size: cover;
  border-bottom-right-radius: 760px 300px;
  border-bottom-left-radius: 760px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (min-width: 768px) {
  .home #masthead {
    height: 720px;
  }
}

@media (min-width: 1168px) {
  .home #masthead {
    height: 100vh;
    max-height: 1021px;
    border-bottom-right-radius: 1160px 300px;
    border-bottom-left-radius: 1160px 300px;
    margin-left: -200px;
    margin-right: -200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.home #masthead .site-title {
  width: 70vw;
  max-width: 300px;
  height: calc(70vw * .7317);
}

@media (min-width: 768px) {
  .home #masthead .site-title {
    width: 550px;
    max-width: inherit;
    height: 432px;
  }
}

@media (min-width: 1168px) {
  .home #masthead .site-title {
    width: 700px;
    /* height: 540px; */
  }
}

.home #masthead .site-title > a::after {
  background: url(https://wordcamposaka2019.github.io/website-theme/images/logo.svg) center no-repeat;
  background-size: contain;
}

.site-header.featured-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;
}

.site-header.featured-image::after {
  background: none;
}

.site-header.featured-image .site-branding-container {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
}

.site-header.featured-image .site-branding-container > a::after {
  display: none;
}

.site-header.featured-image .site-featured-image::after {
  background: #facd89;
  transition: opacity 1200ms ease-in-out;
  opacity: 0.7;
  z-index: 5;
}

.site-header.featured-image .site-featured-image .post-thumbnail img {
  filter: grayscale(100%);
  height: 240px;
  min-height: 240px;
}

@media (min-width: 768px) {
  .site-header.featured-image .site-featured-image .post-thumbnail img {
    height: 320px;
    min-height: 320px;
  }
}

@media (min-width: 1168px) {
  .site-header.featured-image .site-featured-image .post-thumbnail img {
    height: 420px;
    min-height: 420px;
  }
}

.site-header.featured-image .site-featured-image .entry-header {
  margin-top: 0;
}

@media (min-width: 768px) {
  .site-header.featured-image .site-featured-image .entry-header {
    margin: auto 1.5rem;
  }
}

#site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  font-family: "M PLUS 1p", sans-serif;
}

@media (min-width: 768px) {
  #site-navigation {
    height: 64px;
  }
}

@media (min-width: 1168px) {
  #site-navigation {
    height: 80px;
  }
}

.main-navigation {
  margin-top: 0;
  padding-top: 12px;
  font-size: 0.9375rem;
  text-align: center;
}

@media (min-width: 768px) {
  .main-navigation {
    padding-top: 20px;
    font-size: 1rem;
  }
}

@media (min-width: 1168px) {
  .main-navigation {
    padding-top: 24px;
    font-size: 1em;
  }
}

.main-navigation .menu-headermenu-container {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;
}

.main-navigation .main-menu > li {
  margin: 0 0.5rem;
  color: #444;
}

.main-navigation .main-menu > li > a,
.main-navigation .main-menu > li > a + svg {
  font-weight: 400;
  color: #444;
}

.main-navigation .main-menu > li > a:hover,
.main-navigation .main-menu > li > a:hover + svg {
  color: #d8836e;
}

@media (min-width: 768px) {
  .main-navigation .main-menu > li {
    margin: 0 1rem;
  }
}

.main-navigation button:hover,
.main-navigation button:focus {
  color: #d8836e;
}

.main-navigation .sub-menu {
  background-color: #d8836e;
}

.main-navigation .sub-menu > li {
  text-align: left;
}

.main-navigation .sub-menu > li > a,
.main-navigation .sub-menu > li > .menu-item-link-return {
  padding: .5rem 1rem;
}

.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li > a:focus,
.main-navigation .sub-menu > li > .menu-item-link-return:hover,
.main-navigation .sub-menu > li > .menu-item-link-return:focus {
  background-color: #ba6a56;
}

.main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu.hidden-links {
  top: 48px;
}

@media (min-width: 768px) {
  .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu.hidden-links {
    top: 64px;
  }
}

@media (min-width: 1168px) {
  .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu.hidden-links, .main-navigation .main-menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu.hidden-links {
    top: 80px;
  }
}

.site-header.featured-image .main-navigation li,
.site-header.featured-image .main-navigation a,
.site-header.featured-image .main-navigation a + svg,
.site-header.featured-image .social-navigation a,
.site-header.featured-image .site-title a,
.site-header.featured-image .site-featured-imagea a {
  color: #444;
  text-shadow: none;
}

.site-header.featured-image .main-navigation a:hover,
.site-header.featured-image .main-navigation a:hover + svg,
.site-header.featured-image .social-navigation a:hover,
.site-header.featured-image .site-title a:hover,
.site-header.featured-image .site-featured-imagea a:hover,
.site-header.featured-image .main-navigation a:active,
.site-header.featured-image .main-navigation a:active + svg,
.site-header.featured-image .social-navigation a:active,
.site-header.featured-image .site-title a:active,
.site-header.featured-image .site-featured-imagea a:active {
  color: #d8836e;
  opacity: 1;
}

.post-navigation {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  max-width: calc(100%-3rem);
}

@media (min-width: 1168px) {
  .post-navigation {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1168px) {
  .post-navigation .nav-links {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.post-navigation .nav-links a:hover {
  color: #ba6a56;
}

.site-footer {
  background-color: #ffe0b1;
}

.site-footer .widget-title {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 32px;
  letter-spacing: .2em;
  text-align: center;
}

@media (min-width: 768px) {
  .site-footer .widget-title {
    margin-bottom: 3rem;
    padding-bottom: 64px;
  }
}

@media (min-width: 1168px) {
  .site-footer .widget-title {
    margin-bottom: 4rem;
  }
}

.site-footer .widget-title::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 16px;
  background: url("https://wordcamposaka2019.github.io/website-theme/images/icon_takoyaki_white.svg") bottom no-repeat;
  background-size: 34px auto;
}

@media (min-width: 768px) {
  .site-footer .widget-title::before {
    width: 68px;
    height: 32px;
    background-size: auto;
  }
}

@media (min-width: 1168px) {
  .widget_recent_entries ul {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
  }
}

.widget_recent_entries ul li {
  display: flex;
  flex-direction: column-reverse;
  padding: .5rem;
  margin: 0;
  border-bottom: 2px dashed #fff8e6;
  color: #777673;
  font-size: 1.125rem;
  line-height: 1.6em;
}

@media (min-width: 768px) {
  .widget_recent_entries ul li {
    padding: 1rem;
    font-size: 1.25rem;
  }
}

.widget_recent_entries ul li > a,
.widget_recent_entries ul li > span {
  display: block;
}

@media (min-width: 768px) {
  .widget_recent_entries ul li > a {
    margin-left: 2rem;
  }
}

.widget_recent_entries ul li > span {
  font-weight: normal;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .widget_recent_entries ul li > span {
    font-size: 1rem;
  }
}

.wcb_widget_sponsors {
  text-align: center;
}

.wcb_widget_sponsors .sponsor-level {
  margin: 0 auto 30px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wcb_widget_sponsors .sponsor-level .sponsor-level-title {
  position: relative;
  margin-bottom: 2em;
  width: 100%;
}

.wcb_widget_sponsors .sponsor-level .sponsor-level-title:after {
  position: absolute;
  display: inline-block;
  height: 0;
  width: 2em;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -1em;
  bottom: -.5em;
}

.wcb_widget_sponsors .sponsor-level .sponsor-logo {
  width: 100%;
  display: block;
  padding: 10px;
}

.wcb_widget_sponsors .sponsor-level .sponsor-logo img {
  width: 100%;
  height: auto;
}

.wcb_widget_sponsors .sponsor-level.gold .sponsor-logo {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wcb_widget_sponsors .sponsor-level.gold .sponsor-logo {
    width: calc(100% / 2);
  }
}

.wcb_widget_sponsors .sponsor-level.silver .sponsor-logo {
  width: calc(100% / 2);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wcb_widget_sponsors .sponsor-level.silver .sponsor-logo {
    width: calc(100% / 3);
  }
}

.wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
  width: calc(100% / 2);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
    width: calc(100% / 3);
  }
}

@media (min-width: 1168px) {
  .wcb_widget_sponsors .sponsor-level.bronze .sponsor-logo {
    width: calc(100% / 4);
  }
}

.p-sns {
  padding-left: 0;
  text-align: center;
}

.p-sns li {
  display: inline-block;
  margin: 0 1rem;
  text-align: center;
}

.p-sns li a {
  display: block;
}

.p-sns li img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

@media (min-width: 768px) {
  .p-sns li img {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1168px) {
  .p-sns li img {
    width: 80px;
    height: 80px;
  }
}

#colophon .site-info {
  margin: 0;
  padding: 84px 24px 40px;
  background: #777673 url("https://wordcamposaka2019.github.io/website-theme/images/logo_wp.svg") center 40px no-repeat;
  background-size: 32px auto;
  text-align: center;
  color: #FFF;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  #colophon .site-info {
    padding: 144px 24px 64px;
    background: #777673 url("https://wordcamposaka2019.github.io/website-theme/images/logo_wp.svg") center 64px no-repeat;
    background-size: 56px auto;
  }
}

@media (min-width: 1168px) {
  #colophon .site-info {
    padding: 152px 24px 64px;
    background: #777673 url("https://wordcamposaka2019.github.io/website-theme/images/logo_wp.svg") center 64px no-repeat;
    background-size: 64px auto;
  }
}

.home .entry-content {
  max-width: inherit;
  margin: 0 auto;
  padding: 0;
}

.home .entry-content > * {
  max-width: inherit;
}

@media (min-width: 1168px) {
  .home .entry-content .l-container {
    max-width: 1308px;
    margin: 0 auto;
  }
}

.home .entry-content > .u-arch {
  border-bottom-right-radius: 760px 300px;
  border-bottom-left-radius: 760px 300px;
  margin-left: -200px;
  margin-right: -200px;
  padding-left: 200px;
  padding-right: 200px;
}

@media (min-width: 1168px) {
  .home .entry-content > .u-arch {
    border-bottom-right-radius: 1160px 300px;
    border-bottom-left-radius: 1160px 300px;
    margin-left: -200px;
    margin-right: -200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.home .entry-content .wp-block-columns {
  justify-content: center;
}

.home .entry-content .wp-block-column {
  margin-right: 24px;
  margin-left: 24px;
}

@media (min-width: 600px) {
  .home .entry-content .wp-block-column {
    flex-basis: calc(50% - 48px);
  }
}

@media (min-width: 1168px) {
  .home .entry-content .wp-block-column {
    max-width: 606px;
  }
}

.home .entry-content .p-cnt--outline .wp-block-column:nth-of-type(2) {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .home .entry-content .p-cnt--outline .wp-block-column:nth-of-type(2) {
    margin-top: 0;
  }
}

.home .l-gmap {
  width: 100%;
}
