@charset "utf-8";
#post-6 {
  .entry-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    
    > * {
      max-width: 100%;
    }
    .l-container {
      max-width: 1260px;
      margin: 0 auto;
    }
  }
  .l-gmap {
    width: 100%;
  }
}