@charset "utf-8";
.home {
  .entry-content {
    max-width: inherit;
    margin: 0 auto;
    padding: 0;
    
    > * {
      max-width: inherit;
    }
    @include pc {
      .l-container {
        max-width: 1260 + 48px;
        margin: 0 auto;
      }
    }
    > .u-arch {
      @include arch-min;
    
      @include pc {
        @include arch-wide
      }
    }
    .wp-block-columns {
      justify-content: center;
    }
    .wp-block-column {
      margin-right: 24px;
      margin-left: 24px;

      @include sp {
        flex-basis: calc(50% - 48px);
      }

      @include pc {
        max-width: 606px;
      }
    }
    .p-cnt--outline {

      .wp-block-column {
        &:nth-of-type(2) {
          margin-top: 1.5rem;

          @include tab {
            margin-top: 0;
          }
        }
      }
    }
  }
  .l-gmap {
    width: 100%;
  }
}