.entry .entry-content {
  table.wcpt-schedule {
    a {
      text-decoration: none;
    }
  }
}

table.wcpt-schedule {
  margin: 32px auto !important;

  th,
  td {
    border-color: $gray;
    word-break: break-word;
  }

  tr {
    background-color: $white;
    font-size: 1rem;
  }
}

.wcpt-schedule {

  th.wcpt-col-time {
    width: 12%;
    background-color: #665652;
    color: $white;
    font-size: 0.9375rem;
    font-weight: bold;
  }
  .wcpt-col-track {
    width: 22%;
    line-height: 1.4;
    font-size: 1rem;

    .wcpt-track-description {
      display: block;
      font-size: .875rem;
    }
  }

  th.wcpt-col-track:nth-of-type(2) {
    background-color: #FFF1AA;
    color: #666044;
  }
  th.wcpt-col-track:nth-of-type(3) {
    background-color: #FFD7AB;
    color: #665645;
  }
  th.wcpt-col-track:nth-of-type(4) {
    background-color: #FFBCBC;
    color: #664B4B;
  }
  th.wcpt-col-track:nth-of-type(5) {
    background-color: #C7BCFF;
    color: #4F4B66;
  }

  td.wcpt-time {
    background-color: #F5E6E3;
    color: #665652;
    text-align: center;
  }

  .wcpt-session-speakers {
    display: block;
    a {
      display: inline-block;
      font-size: .875rem;
      color: #444;

      &:hover,
      &:focus {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }

  td[class*="wcb-session-break-"],
  td[class*="wcb-session-short-break-"],
  td[class*="wcb-session-lunch-break-"] {
    background-color: #E6F7FF;
    color: #32596b;
    text-align: center;
  }

  .wcpt-time-1320 td.wcpt-session-empty {
    background-color: #E6F7FF;
    color: #32596b;
    text-align: center;
  }

  .wcpt-time-1230 td:nth-of-type(2),
  .wcpt-time-1645 td.wcb-session-track-closed,
  td.wcpt-session-empty {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  td.wcpt-session-empty:not(:last-of-type) {
    border-right: 0;
  }
  .wcpt-time-1805 td.wcpt-session-empty,
  tr:last-of-type {
    border-bottom: 1px solid $gray;
  }
  .wcpt-time-1015 td.wcpt-session-empty,
  .wcpt-time-1030 td.wcpt-session-empty,
  .wcpt-time-1630 td.wcpt-session-empty,
  .wcpt-time-1645 td:nth-of-type(2),
  .wcpt-time-1700 td.wcpt-session-empty,
  .wcpt-time-1745 td.wcpt-session-empty,
  .wcpt-time-1805 td.wcpt-session-empty{
    background-color: #F5E6E3;
    color: #665652;
    text-align: center;
  }
}
div.wcb-session-favourite-icon a.fav-session-button:hover,
#content a.fav-session-button:hover {
  color: #FFD7AB;
  text-decoration: none;
}

// ブレークポイントがテーマと別です
@media screen and (max-width: 700px) {

.wcpt-schedule {

  .wcpt-time {
    border-bottom: 1px solid $gray;
    padding: 4px 1rem;
    font-size: 1rem;
  }

  td.wcpt-session-empty {
    display: none;
  }
  span.wcpt-session-speakers:before {
    color: $gray;
    content: "Speaker: ";
    font-style: normal;
  }
  .wcpt-session-speakers a {
    display: inline-block;
  }
}

.wcpt-session-type-session:before {
  padding: 4px 10px;
}

tr[class^="wcpt-time-"] {

  td:nth-of-type(2):before {
      background-color: #FFF1AA;
      color: #666044;
      border-bottom: 1px dashed #666044;
      border-top: 1px dashed #666044;
  }

  td:nth-of-type(3):before {
      background-color: #FFD7AB;
      color: #665645;
      border-bottom: 1px dashed #665645;
      border-top: 1px dashed #665645;
  }

  td:nth-of-type(4):before {
      background-color: #FFBCBC;
      color: #664B4B;
      border-bottom: 1px dashed #664B4B;
      border-top: 1px dashed #664B4B;
  }

  td:nth-of-type(5):before {
      background-color: #C7BCFF;
      color: #4F4B66;
      border-bottom: 1px dashed #4F4B66;
      border-top: 1px dashed #4F4B66;
  }

}

tr.wcpt-time-1645 td:nth-of-type(2):before {
  background-color: #665652;
  color: $white;
  content: 'セミナー室 201,202,203';
  border-bottom: 1px dashed #F5E6E3;
  border-top: 1px dashed #F5E6E3;
  display: block;
  font-size: 110%;
  line-height: 1;
  margin-bottom: 8px;
  padding: 4px 10px;
  text-align: left;
}

tr.wcpt-time-1645 td:last-of-type:before {
  background-color: #C7BCFF;
  color: #4F4B66;
  content: '常翔ホール';
  border-bottom: 1px dashed #4F4B66;
  border-top: 1px dashed #4F4B66;
  display: block;
  font-size: 110%;
  line-height: 1;
  margin-bottom: 8px;
  padding: 4px 10px;
  text-align: left;
}
tr.wcpt-time-1045 td.wcb-session-contribution-time:before {
  background-color: #665652;
  color: $white;
  content: '1号室,2号室,12号室';
  border-bottom: 1px dashed #F5E6E3;
  border-top: 1px dashed #F5E6E3;
  display: block;
  font-size: 110%;
  line-height: 1;
  margin-bottom: 8px;
  padding: 4px 10px;
  text-align: left;
}

} // end @media

// Sessions
.entry .entry-content {
  .wco2019-session-alart {
    margin: 2rem auto;
    padding: 1em 1.5em;
    background: #FFEBCC;
    border: 1px solid #FACD89;
    font-weight: normal;
    font-size: small;
    color: $red;

    @include tab {
      padding: 1rem 1.5rem;
    }
  }

  h2.session-speakers {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding-bottom: 0;
    padding-left: 24px;
    letter-spacing: 0;
    text-align: left;
    font-size: 1.22em;

      @include tab {
        font-size: 1.22em;
      }

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 4px;
      background-color: $sub-color;
      border-radius: 2px;
    }

    &::before {
      height: 18px;
      top: 4px;
      left: 0;
      right: auto;
      bottom: auto;
    }

    &::after {
      height: 10px;
      top: 12px;
      left: 8px;
    }
  }

  .session-categories-links {
    a {
      text-decoration: none;
    }
  }
}

#session-speaker-names {
  margin-left: auto;
}

.session-categories-links {
  display: block;

  a {
    display: inline-block;
    padding: 2px 8px;
    background-color: $main-color-light;
    border-radius: 3px;
    font-size: .875rem;

    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }
}

// Speakers
.speaker-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  .avatar {
    width: auto;
    height: auto;
    max-width: 96px;
  }
}
.wcorg-speaker-description {
  margin-bottom: 4rem;

  .avatar {
    width: auto;
    height: auto;
    max-width: 96px;
    margin: 1rem auto;
  }
}

.single-wcb_session {
  .entry-meta,
  .author-bio {
    display: none;
  }
}
